<template>
  <div class="VisitStudy">
    <el-table :data="tableData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-steps space="12%">
            <el-step :title="props.row.id" :description="props.row.id"></el-step>
          </el-steps>
        </template>
      </el-table-column>
      <el-table-column label="患者姓名" prop="patientName"> </el-table-column>
      <el-table-column label="性别" prop="sex"></el-table-column>
      <el-table-column label="就诊类型" prop="patientSourceName"> </el-table-column>
      <el-table-column label="就诊时间" prop="addTime"> </el-table-column>
      <el-table-column label="就诊流水号" prop="resourceID"> </el-table-column>
      <el-table-column label="身份证号" prop="medicareCardNo"> </el-table-column>
      <el-table-column label="所属保险公司" prop="compnayName"> </el-table-column>
      <el-table-column label="当前状态">
        <template slot-scope="scope">
          <el-tag type="warning">{{ !scope.row.status ? "未开始" : "" }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" @click="handleEdit(scope.row)">审批</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- Form -->
    <el-dialog title="审批" :visible.sync="dialogFormVisible" center @close="close">
      <el-card class="course-list" border>
        <el-form :inline="true" :model="form">
          <div v-for="(domain, index) in form.domains" :key="domain.key">
            <el-form-item
              :prop="'domains.' + index + '.value'"
              label="金额"
              :label-width="formLabelWidth"
              :rules="[
                {
                  required: true,
                  message: '金额不能为空',
                  trigger: 'blur'
                },
                { type: 'number', message: '金额必须为数字值', trigger: 'blur' }
              ]"
            >
              <el-input v-model.number="domain.value" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item
              :prop="'domains.' + index + '.time'"
              label="时间"
              :label-width="formLabelWidth"
              :rules="{
                required: true,
                message: '请选择时间',
                trigger: 'blur'
              }"
            >
              <el-date-picker v-model="domain.time" type="date" placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-button @click="addDomain">新增</el-button>
            <el-button @click="removeDomain(domain)" v-if="form.domains.length - 1">删除</el-button>
          </div>
        </el-form>
      </el-card>
      <el-card class="course-list" border>
        <el-table
          v-if="dialogFormVisible"
          :data="details.detail"
          ref="tableRef"
          height="100%"
          stripe
          :show-summary="showSum"
          :summary-method="totalFunction"
          @selection-change="selectionLineChangeHandle"
        >
          <el-table-column type="selection" width="60"> </el-table-column>
          <el-table-column prop="name" label="名称"></el-table-column>
          <el-table-column prop="type" label="类型"> </el-table-column>
          <el-table-column prop="amount" label="金额"> </el-table-column>
        </el-table>
      </el-card>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">通过</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">拒绝</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "VisitStudy",
  data() {
    return {
      dialogFormVisible: false,
      showSum: true,
      tableData: [
        {
          status: null,
          invoiceList: null,
          allAmount: 0,
          compnayName: "MSH CHINA.",
          id: "b86e79ff-3037-4886-84e9-44c1f0e2a64b",
          resourceID: "21379110",
          companyCode: "6305000036",
          memberId: "1880651",
          hospitalCode: "09",
          visitNumber: "21379110",
          patientClass: "IP",
          patientName: "卢方蓓蓓",
          sex: "女",
          mrn: "88800781",
          dob: "1940-08-08 00:00:00",
          idNumber: "00122209",
          admissionDateTime: "2022-06-13 15:03:23",
          dischargeDateTime: "1900-01-01 00:00:00",
          admissionDeptName: "国际医疗中心",
          doctorName: "周晓兰",
          medicareCardNo: "135401997125332",
          inPatientINo: "88800781",
          addTime: "2022-06-16 09:59:47",
          updateTime: "2022-06-16 09:59:47",
          isDelete: false,
          medicareCategoryCode: "56",
          medicareCategoryName: "自费",
          patientSourceCode: "1",
          patientSourceName: "门诊",
          admissionTimes: 1,
          admissionDeptCode: "2322",
          deptCode: "2322",
          deptName: "国际医疗中心",
          wardCode: "218",
          wardName: "25病区",
          bedNo: "2516",
          clinicDiagCode: "",
          clinicDiagName: "",
          admissionDiagCode: "I63.900",
          admissionDiagName: "脑梗死",
          dischargeDiagCode: "",
          dischargeDiagName: "",
          statusCode: "2",
          statusName: "在院",
          detail: [
            {
              name: "发票1",
              type: "报销",
              amount: "500"
            },
            {
              name: "发票2",
              type: "报销",
              amount: "300"
            }
          ]
        },
        {
          status: null,
          invoiceList: null,
          allAmount: 0,
          compnayName: "MSH CHINA.",
          id: "b86e79ff-3037-4886-84e9-44c1f0e2a64b",
          resourceID: "21379110",
          companyCode: "6305000036",
          memberId: "1880651",
          hospitalCode: "09",
          visitNumber: "21379110",
          patientClass: "IP",
          patientName: "卢方蓓蓓",
          sex: "女",
          mrn: "88800781",
          dob: "1940-08-08 00:00:00",
          idNumber: "00122209",
          admissionDateTime: "2022-06-13 15:03:23",
          dischargeDateTime: "1900-01-01 00:00:00",
          admissionDeptName: "国际医疗中心",
          doctorName: "周晓兰",
          medicareCardNo: "135401997125332",
          inPatientINo: "88800781",
          addTime: "2022-06-16 09:59:47",
          updateTime: "2022-06-16 09:59:47",
          isDelete: false,
          medicareCategoryCode: "56",
          medicareCategoryName: "自费",
          patientSourceCode: "1",
          patientSourceName: "门诊",
          admissionTimes: 1,
          admissionDeptCode: "2322",
          deptCode: "2322",
          deptName: "国际医疗中心",
          wardCode: "218",
          wardName: "25病区",
          bedNo: "2516",
          clinicDiagCode: "",
          clinicDiagName: "",
          admissionDiagCode: "I63.900",
          admissionDiagName: "脑梗死",
          dischargeDiagCode: "",
          dischargeDiagName: "",
          statusCode: "2",
          statusName: "在院",
          detail: [
            {
              name: "发票1",
              type: "报销",
              amount: "900"
            },
            {
              name: "发票2",
              type: "报销",
              amount: "500"
            }
          ]
        }
      ],
      form: {
        domains: [
          {
            value: "",
            time: "",
            key: Date.now()
          }
        ]
      },
      details: {},
      formLabelWidth: "100px"
    };
  },
  watch: {
    "form.domains": {
      handler(value) {
        this.details.Account = 0;
        value.forEach(item => {
          this.details.Account += item.value && Number(item.value);
        });
        this.showSum = false;
        this.$nextTick().then(() => {
          this.showSum = true;
        });
      },
      deep: true
    }
  },
  methods: {
    addDomain() {
      this.form.domains.push({
        value: "",
        time: "",
        key: Date.now()
      });
    },
    removeDomain(item) {
      var index = this.form.domains.indexOf(item);
      if (index !== -1) {
        this.form.domains.splice(index, 1);
      }
    },
    handleEdit(item) {
      this.dialogFormVisible = true;
      this.details = item;
      this.details.offset = 0;
      this.details.Account = 0;
    },
    totalFunction({ columns }) {
      console.log(columns);
      const sums = [];
      // item：列表项
      // index：列表下表
      // return，数组，见文档
      columns.forEach((item, index) => {
        if (index === 1) {
          sums[index] = `选择金额：${this.details.allAmount}`;
        } else if (index === 2) {
          sums[index] = `到账金额：${this.details.Account}`;
        } else if (index === 3) {
          sums[index] = `冲抵金额：${this.details.offset}`;
        }
      });
      return sums;
    },
    selectionLineChangeHandle(val) {
      this.details.offset = 0;
      val.forEach(item => {
        this.details.offset += item.amount && Number(item.amount);
      });
      this.showSum = false;
      this.$nextTick().then(() => {
        this.showSum = true;
      });
    },
    close() {
      this.details = {};
    }
  }
};
</script>

<style scoped lang="scss">
.el-steps {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  .el-step {
    margin-bottom: 20px;
  }
  /deep/ .el-step__main {
    white-space: nowrap;
  }
}
</style>
